#a-container {
    margin: 0 auto;
    width: 960px;
    /* border: 1px solid black; */
}

#a-logo-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#a-home, #a-add {
    color: white;
}

#a-home:hover, #a-add:hover {
    border-radius: 4px;
    background-color: white;
    color: black;
}

.no-display {
    visibility: hidden;
    display: none;
}

.a-flex {
    display: flex;
}

.a-flex-wrap {
    flex-wrap: wrap;
}

.a-person-card {
    margin: 5px;
}

.a-footer {
    height: 10vh;
    margin-top: 50px;
    color: white;
    padding: 10px;
}

footer a, footer a:visited {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

